<ion-view view-title="About">

    <ion-content class="about">

        <h3>a few words</h3>
        <p>Hi there, my name is Emmanouil and I would like to <b>thank you</b> for downloading my app! I'm currently working as a web & mobile developer for <b ng-click="goTo('http://www.dabapps.com/')">DabApps</b> where we are creating some awesome stuff!</p>

        <div class="row links">
            <div class="col col-50">
                <a ng-click="goTo('http://www.twitter.com/iamemmanouil')">
                    <i class="icon ion-social-twitter"></i> Follow me on Twitter
                </a>
            </div>

            <div class="col col-50">
                <a ng-click="goTo('http://www.iamemmanouil.com/')">
                    <i class="icon ion-link"></i> Personal Website
                </a>
            </div>
        </div>

        <hr />

        <h3>what is is for?</h3>
        <p>Travis CI on your phone. Ever wondering if the tests are failing or passing while on the go? Want to check the logs? Save your favourite repos for even quicker access? It's fast, clean and easy to use!</p>

        <hr />

        <h3>thank you Travis!</h3>
        <p>This app wouldn't be installed on your phone if the <b ng-click="goTo('http://www.travis-ci.com/')">Travis CI</b> team didn't provide their awesome API. It's well documented, fast and pretty clear.</p>

        <img class="thankyou-travis" src="images/thankyou-travis.png">

        <hr />

        <h3>disclaimer</h3>
        <p>Travis CI, the logo and the mascot are trademarks that belong to Travis CI GmbH. This is not an official Travis CI mobile application.</p>

    </ion-content>
</ion-view>
