<ion-view view-title="About">

    <ion-content class="about">

        <h3>a few words</h3>
        <p>Hi there, my name is Emmanouil and I would like to <b>thank you</b> for downloading my app! I'm currently working as a web & mobile developer for <b>DabApps</b> where we are creating some awesome stuff!</p>

        <h3>what is is for?</h3>
        <p>Travis CI on your phone. Ever wondering if the tests are failing or passing while on the go? Want to check the logs? Save your favourite repos for even quicker access? It's fast, clean and easy to use!</p>

        <h3>thank you Travis!</h3>
        <p>This app wouldn't be installed on your phone if the <b>Travis CI</b> team didn't provide their awesome API. It's well documented, fast and pretty clear.</p>

        <img class="thankyou-travis" src="images/thankyou-travis.png">

        <h3>disclaimer</h3>
        <p>This is not an official Travis CI application. It's a personal project that I made in my free time. Travis CI, the logo and the mascot belong to Travis.</p>

    </ion-content>
</ion-view>
