<ion-view view-title="Accounts">

    <ion-nav-buttons side="right">
      <button class="button button-icon ion-log-out button-dark" ng-click="logOut()"></button>
    </ion-nav-buttons>

    <ion-content class="accounts">

        <ion-refresher
            pulling-text="Pull to refresh"
            on-refresh="fetch()">
        </ion-refresher>

        <a class="item" ng-href="#/app/repos/{{account.login}}" ng-if="pro && account.subscribed" ng-repeat="account in accounts">
            <i class="icon" ng-class="{'user': 'ion-ios7-person', 'organization': 'ion-ios7-people'}[account.type]"></i> {{account.name}}
            <p>{{account.login}}</p>
            <span class="badge badge-positive">{{account.repos_count}}</span>
        </a>

        <a class="item not-subscribed" ng-if="pro && !account.subscribed" ng-repeat="account in accounts">
            <i class="icon" ng-class="{'user': 'ion-ios7-person', 'organization': 'ion-ios7-people'}[account.type]"></i> {{account.name}}
            <p>{{account.login}}<span>Not Subscribed</span></p>
            <span class="badge badge-positive">{{account.repos_count}}</span>
        </a>

        <a class="item" ng-href="#/app/repos/{{account.login}}" ng-if="!pro" ng-repeat="account in accounts">
            <i class="icon" ng-class="{'user': 'ion-ios7-person', 'organization': 'ion-ios7-people'}[account.type]"></i> {{account.name}}
            <p>{{account.login}}</p>
            <span class="badge badge-positive">{{account.repos_count}}</span>
        </a>

    </ion-content>
</ion-view>
