<ion-view view-title="Accounts">

    <ion-nav-buttons side="right">
      <button class="button button-icon button-logout" ng-click="logOut()"><span class="octicon octicon-sign-out"></span></button>
    </ion-nav-buttons>

    <ion-content class="accounts">

        <ion-refresher
            pulling-text="Pull to refresh"
            on-refresh="fetch()">
        </ion-refresher>

        <div class="row welcome-banner" ng-if="accounts.length > 0">
            <div class="col col-100 padding">
                <img src="images/travis-mascot.png" class="logo">
                <span ng-if="greeting">Hi {{ greeting }}!</span>
                <span ng-if="!greeting">Welcome to Trevor!</span>
                <div class="pro" ng-if="pro">You are logged in to Travis Pro.</div>
                <div class="pro" ng-if="!pro">You are logged in to Travis CI for Open Source.</div>
            </div>
        </div>

        <div class="row no-entries padding" ng-if="accounts.length < 1">
            <div class="col col-100 padding">
                <i class="icon ion-sad"></i>
                <div class="message">Oops! It seems that there are no accounts. Weird huh?</div>
            </div>
        </div>

        <a class="item" ng-href="#/app/repos/{{account.login}}" ng-class="{false: 'not-subscribed'}[account.subscribed]" ng-repeat="account in accounts">

            <div class="name">{{ account.login }}</div>

            <div class="info" ng-if="!(pro && !account.subscribed)">{{ account.name }}</div>
            <div class="info" ng-if="pro && !account.subscribed">Not Subscribed</div>

            <div class="status">
                <span class="octicon" ng-class="{'user': 'octicon-person', 'organization': 'octicon-organization'}[account.type]"></span>
                <div class="repos-count">{{ account.repos_count }}</div>
            </div>

        </a>

    </ion-content>
</ion-view>
