<ion-view view-title="Builds">
    <ion-content class="builds">

        <ion-refresher
            pulling-text="Pull to refresh"
            on-refresh="fetch()">
        </ion-refresher>

        <div class="button-bar" ng-init="showBuilds = true">
            <a class="button" ng-click="showBuilds = !showBuilds" ng-class="{'true': 'active'}[showBuilds]">Builds</a>
            <a class="button" ng-click="showBuilds = !showBuilds" ng-class="{'false': 'active'}[showBuilds]">Pull Requests</a>
        </div>

        <a class="item" ng-href="#/app/build/{{ build.id }}" ng-repeat="build in builds | with:'pull_request':!showBuilds">
            {{build.commit.message}}

            <div class="row">
                <div class="col col-50"><p><i class="icon ion-settings"></i> Build #{{build.number }}</p></div>
                <div class="col col-50"><p><i class="icon ion-merge"></i> Branch: {{ build.commit.branch }}</p></div>
            </div>

            <div class="row">
                <div class="col col-50"><p><i class="icon ion-clock"></i> Duration: {{build.duration | convertSeconds }}</p></div>
                <div class="col col-50"><p><i class="icon ion-calendar"></i> Finished: {{ build.finished_at | date:'d MMM' }}</p></div>
            </div>

            <span class="badge"><i class="icon" ng-class="{ 'created': 'ion-ios7-circle-filled', 'passed': 'ion-checkmark-circled', 'started': 'ion-ios7-circle-filled', 'failed': 'ion-close-circled', 'errored': 'ion-alert-circled', 'canceled': 'ion-alert-circled' }[build.state]"></i></span>
        </a>

    </ion-content>
</ion-view>