<ion-view view-title="Builds">

    <ion-nav-buttons side="right">
      <button class="button button-icon ion-ios7-star button-dark" ng-class="{true: 'ion-ios-star', false: 'ion-ios-star-outline'}[isFavourite]" ng-click="addFavourites()"></button>
    </ion-nav-buttons>

    <ion-content class="builds">

        <ion-refresher
            pulling-text="Pull to refresh"
            on-refresh="fetch()">
        </ion-refresher>

        <div class="button-bar" ng-init="showBuilds = true">
            <a class="button" ng-click="showBuilds = !showBuilds" ng-class="{'true': 'active'}[showBuilds]">Builds</a>
            <a class="button" ng-click="showBuilds = !showBuilds" ng-class="{'false': 'active'}[showBuilds]">Pull Requests</a>
        </div>

        <a class="item" ng-href="#/app/build/{{ build.id }}" ng-repeat="build in builds | with:'pull_request':!showBuilds">
            {{ build.commit.message | limitText : true : 30 : '...' }}

            <div class="row">
                <div class="col col-100">
                    <p class="branch"><i class="icon ion-merge"></i> Branch: {{ build.commit.branch | limitText : true : 22 : '...' }}
                        <span class="build-number" ng-if="build.number">
                            <span ng-class="{ 'created': 'created', 'passed': 'passed', 'started': 'started', 'failed': 'failed', 'errored': 'errored', 'canceled': 'canceled'}[build.state]"><i class="icon ion-settings"></i> {{ build.number }}</span>
                        </span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col col-100">
                    <p class="finished"><i class="icon ion-calendar"></i> Finished on {{ build.finished_at | date:'d MMM' }}
                        <span class="duration"><i class="icon ion-clock"></i> Run for {{build.duration | convertSeconds }}</span>
                    </p>
                </div>
            </div>

            <div class="row" ng-if="build.pull_request">
                <div class="col col-100"><p><i class="icon ion-pull-request"></i> <b>#{{ build.pull_request_number }}</b> {{ build.pull_request_title }}</p></div>
            </div>

            <span class="badge"><i class="icon" ng-class="{ 'created': 'ion-ios7-circle-filled', 'passed': 'ion-checkmark-circled', 'started': 'ion-ios7-circle-filled', 'failed': 'ion-close-circled', 'errored': 'ion-alert-circled', 'canceled': 'ion-alert-circled' }[build.state]"></i></span>
        </a>

    </ion-content>
</ion-view>