<ion-view view-title="Log">

    <ion-nav-buttons side="right">
      <button class="button button-icon ion-ios-arrow-up button-dark" ng-click="toTop()" ng-if="log || logArchived"></button>
      <button class="button button-icon ion-ios-arrow-down button-dark" ng-click="toBottom()" ng-if="log || logArchived"></button>
    </ion-nav-buttons>

    <ion-content class="log">

        <div class="row no-entries padding" ng-if="!log && !logArchived">
            <div class="col col-100 padding">
                <i class="icon ion-sad"></i>
                <div class="message">Oops! It seems that we can't find this log.</div>
            </div>
        </div>

        <div class="log-wrapper">

            <div class="log-body" ng-repeat="part in log.parts">
                <pre ng-bind-html="part.content"></pre>
            </div>

            <pre class="log-body" ng-if="logArchived" ng-bind-html="logArchived"></pre>

            <span ng-if="!log && !logArchived" class="log-body">Oops! It seems that this log has been archived.</span>
        </div>

        <div class="log-toolbar" ng-if="(log || logArchived) && showRefresh">
            <button class="button button-small button-full button-outline" ng-click="fetch()">Refresh</button>
        </div>

    </ion-content>
</ion-view>
