<ion-view view-title="Log">

    <ion-nav-buttons side="right">
      <button class="button button-icon ion-ios-arrow-up button-dark" ng-click="toTop()" ng-if="log"></button>
      <button class="button button-icon ion-ios-arrow-down button-dark" ng-click="toBottom()" ng-if="log"></button>
    </ion-nav-buttons>

    <ion-content class="log">

        <div class="row no-entries padding" ng-if="!log">
            <div class="col col-100 padding">
                <i class="icon ion-sad"></i>
                <div class="message">Oops! It seems that this log has been archived.</div>
            </div>
        </div>

        <div class="log-wrapper">
            <span ng-if="log" class="log-body">
                <pre>{{ log }}</pre>
            </span>

            <span ng-if="!log" class="log-body">Oops! It seems that this log has been archived.</span>
        </div>

        <div class="row log-toolbar" ng-if="log">
            <div class="col" ng-class="{true: 'col-50', false: 'col-100'}[showRefresh]" ng-if="showRefresh">
                <button class="button button-small button-full button-outline" ng-click="fetch()">Refresh</button>
            </div>
            <div class="col" ng-class="{true: 'col-50', false: 'col-100'}[showRefresh]">
                <button class="button button-small button-full button-outline">Email Log</button>
            </div>
        </div>

    </ion-content>
</ion-view>
