<ion-view view-title="Log">

    <ion-nav-buttons side="right">
      <button class="button button-icon ion-ios7-arrow-up button-dark" ng-click="toTop()" ng-if="log">To Top</button>
    </ion-nav-buttons>

    <ion-content class="log">

        <ion-refresher
            pulling-text="Pull to refresh"
            on-refresh="fetch()">
        </ion-refresher>

        <span ng-if="log" class="log-body">{{ log }}</span>

        <span ng-if="!log" class="log-body">Oops! It seems that this log has been archived.</span>

        </div>

    </ion-content>
</ion-view>
