<ion-side-menus enable-menu-with-back-views="true">

    <ion-side-menu-content>
        <ion-nav-bar class="bar">
            <ion-nav-back-button></ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="sidemenu" expose-aside-when="large">
        <ion-header-bar class="bar"><h1 class="title">Menu</h1></ion-header-bar>

        <ion-content has-bouncing="false">

            <ion-list>

                <ion-item nav-clear menu-close href="#/app/accounts">
                    <span class="octicon octicon-person"></span> Accounts
                </ion-item>

                <ion-item nav-clear menu-close ng-if="(pro && account.subscribed) || (pro && account.education) || !pro" ng-repeat="account in accounts" class="account" ng-href="#/app/repos/{{account.login}}">
                    {{ account.login }}
                    <div class="status">
                        <span class="octicon" ng-class="{'user': 'octicon-person', 'organization': 'octicon-organization'}[account.type]"></span>
                        <div class="account-info">{{ account.repos_count }}</div>
                    </div>
                </ion-item>

                <ion-item nav-clear menu-close href="#/app/favourites">
                    <i class="icon ion-ios-heart"></i> Favourites
                </ion-item>

                <ion-item nav-clear menu-close href="#/app/about">
                    <i class="icon ion-information-circled"></i> About
                </ion-item>

                <ion-item nav-clear menu-close href="#/app/logout">
                    <span class="octicon octicon-sign-out"></span> Logout
                </ion-item>

            </ion-list>

        </ion-content>

    </ion-side-menu>

</ion-side-menus>
