<ion-view view-title="Repos">
  <ion-content class="padding">

  {{hasOrganization}}

    <div class="button-bar bar-positive" ng-if="hasOrganization">
        <a class="button" ng-init="type = 'personal'" ng-class="{active: type=='personal'}" ng-click="type='personal'">Personal</a>
        <a class="button" ng-class="{active: type=='organization'}" ng-click="type='organization'">Organization</a>
    </div>

  <h1>Repos</h1>

    <ion-list>
      <ion-item ng-repeat="repo in repos">
        {{repo.slug}}<br />
        {{repo.id}}
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
