<ion-view view-title="Repos">
    <ion-content>

          <div class="list">
               <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                         <input type="text" placeholder="Search Repositories" ng-model="reposFilter">
                    </label>
               </div>
          </div>

          has organization ? {{hasOrganization}}

         <ion-list>
           <ion-item ng-repeat="repo in repos | filter:reposFilter">
             {{repo.slug}}<br />
             {{repo.id}}
           </ion-item>
         </ion-list>

  </ion-content>
</ion-view>
