<ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="Favourites" icon="ion-heart" ui-sref="tab.favourites">
        <ion-nav-view name="tab-favourites"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Accounts" icon="ion-ios-people" ui-sref="tab.accounts">
        <ion-nav-view name="tab-accounts"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Search" icon="ion-search" ui-sref="tab.search">
        <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab>

</ion-tabs>