<ion-tabs class="tabs-icon-top tabs-assertive tabs-trevor">

    <ion-tab title="Favourites" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" ui-sref="tab.favourites">
        <ion-nav-view name="tab-favourites"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Accounts" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" ui-sref="tab.accounts">
        <ion-nav-view name="tab-accounts"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Search" icon-off="ion-search" icon-on="ion-search" ui-sref="tab.search">
        <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab>

</ion-tabs>