<ion-view view-title="Search">

    <ion-content class="repos search">

    <div class="list search-form">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Repository Name</span>
            <input type="text" placeholder="doe-framework">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Author/Organization</span>
            <input type="text" placeholder="johndoe">
        </label>
        <div class="search-button">
            <button class="button button-block button-dark">Search</button>
        </div>
    </div>

    </ion-content>
</ion-view>
