/* @group Colors */

@AppColor: #A53230;

@White: #FFF;
@Gray: #9c9c9c;
@DarkGray: #3f3f3f;

@Success: #549e54;
@Error: #b54223;

/* @end colors */


/* @group Miscellaneous */

body {
    font-family: 'OpenSans Light';
}

/* @end Miscellaneous */
