/* @group Colors */

@ThemeRed: #A53230;
@ThemeDarkBlue: #40454F;

@White: #FFF;
@Gray: #9c9c9c;
@DarkGray: #3f3f3f;

@Pass: #549e54;
@Running: #bcaf39;
@Fail: #b54223;

/* @end colors */


/* @group Miscellaneous */

body {
    // font-family: 'OpenSans Light';
}

.bar-header {
    background-color: @ThemeRed;
    color: @White;

    .button {
        color: @White;
    }
}

.menu {
    .bar {
        background-color: darken(@ThemeRed, 10%);

        .title {
            color: @White;
        }
    }

    .scroll-content {
        background-color: @Gray;
    }

    .list {
        .item {
            border-color: lighten(@Gray, 10%);
        }

        .item-content {
            background-color: @DarkGray;
            color: @White;
        }
    }
}

.badge {
    .ion-checkmark-circled::before { color: @Pass; }
    .ion-ios7-circle-filled::before { color: @Started; }
    .ion-close-circled::before { color: @Fail; }
}

/* @end Miscellaneous */


/* @group Accounts Page */

.accounts {
    .item {
        .badge {
            background-color: @ThemeDarkBlue;
            font-size: 14px;
            right: 15px;
            padding: 2px 6px;
        }
    }
}

/* @end Accounts Page */


/* @group Repos */

.repos {
    .list {
        margin-bottom: 0;
    }

    .item {
        .badge {
            font-size: 20px;
            right: 10px;
        }

        .row {
            padding: 0;

            .col-50 {
                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }

        }

    }
}

/* @end Repos */